.menu img {
  width: 30rem;
  height: auto;
}
.menu {
  display: flex;
  justify-content: space-around;
}
/* NAVBAR STUFF COPY PASTED FROM MAIN */
h1 {
  font-family: "Montserrat", sans-serif;
  margin-left: 10rem;
}
.logo {
  top: 5px;
  height: 150px;
  width: auto;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
ul {
  display: flex;
}
li {
  display: inline;
}
.btnmenu {
  display: block;
  padding: 12px 20px;
  border: 1px solid transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  border-color: black;
  background: transparent;
  color: black;
  opacity: 50%;
  text-decoration: none;

  margin-right: 2rem;
}
.btnmenu:hover {
  text-decoration: none;
  opacity: 100%;
  color: white;
  background-color: black;
  border-color: white;
}
